h2 {
    padding-top: 1rem;
  }
  h1, h2, h3 {
    display: inline;
    color: #505050;
    font-weight: normal;
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0.2rem;
  }
  
  * {
    transition: flex 1s;
  }
  
  .about-txt {
    border-radius: 0.5em;
    border: 0.1rem solid #ccc; 
  }  
  
  .about-img img{
    max-height: 20em;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .skill-bar__item {
    overflow: clip;
    border-radius:1em;
    flex: 1 1 0;
    min-width: 0;
    overflow: hidden;
    transition: outline-color 0.5s, filter 0.5s, flex 0.5s, left 2s, right 2s, color 0.05s;
    
    height: 7rem;
    
    padding: 0.5em;
    
    background-color: whitesmoke;
    background-clip: content-box;
    outline: solid 0.1rem transparent;
    outline-offset: -0.5rem;
    color: rgba(0,0,0,0);
    filter: drop-shadow(0.1em 0.1em 0.1em #404040);
    
    /* box-sizing: border-box;
    border: 0.5rem solid white;  */
  }
  
  
  
  .skill-bar__item:hover {
    
    outline-color: #CCC;
    transition: outline-color 0.5s, filter 0.5s, flex 0.5s, left 2s, right 2s, color 0.2s linear 0.5s;
    
    /*flex: 0 0 99.9%; width: 99.9%; */
    filter: drop-shadow(0.4em 0.4em 0.4em #404040); 
  }
  .selectable-beacon:checked + .skill-bar__item {
    color: rgba(0,0,0,1);
    color: rgba(0,0,0,1);
    outline-color: #CCC;
    transition: outline-color 0.5s, filter 0.5s, flex 0.5s, left 2s, right 2s, color 0.2s linear 0.5s;
    flex: 0 0 70%;
    
    /*flex: 0 0 99.9%; width: 99.9%; */
    filter: drop-shadow(5px 5px 5px #404040);
    
    
  }
  
  
  
  .skill-bar__item p {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    overflow: clip;
  }
  .skill-bar__item p:first-child {
    color: rgba(0,0,0,1);
  }
  
  .habit-bar {
    /* border-radius: 0.5em;  */
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    max-height: 7rem;
    width:96%;
  }
  
  .habit-bar:nth-child(even) {
    flex-direction: row-reverse;
  }
  .habit-bar:nth-child(odd) .habit-bar__txt {
    border: 1px solid #ccc; 
    border-radius: 1em 0em 0em 1em;
    
  }
  
  
  .habit-bar:nth-child(even) .habit-bar__txt {
    border: 1px solid #ccc; 
    border-radius: 0em 1em 1em 0em;
  }
  
  
  
  
  .habit-bar__txt {
    z-index: 2;
    padding: 0.1rem;

    padding-left: 1rem;
    background-color: white;
    
    filter: drop-shadow(0.1em 0.1em 0.1em #404040);
    transition: filter 0.5s, flex 0.7s, left 2s;
    
  }
  
  .habit-bar__txt:hover, .selectable-beacon:checked + .habit-bar__txt{
    flex: 0 0 94%;
    background-color: white;
    filter: drop-shadow(5px 5px 5px #404040);
  }
  
  
  .habit-bar__img {
    overflow: clip;
    min-width: 0;
    flex: 1 1 auto;
    
  }
  
  .habit-bar__img img {
    height: 100%;
    object-fit: cover;
    display: block;
    
    
    
  }
  
  
  .selectable-beacon {
    display: none;
  }

  
.about-box {
    margin: 1em;
  }
  
  .skill-box {
    min-height: 100px;
    margin-right: 4%
  }
  
  
